{{#if nextfilesleVisible}}
  <div class='nextfiles'>
    <img src="https://media.giphy.com/media/XmhUvi3OXrhPa/giphy.gif">
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="nextfiles.show" action="showNextfiles" icon="eye" id='show-nextfiles'}}
</div>
