{{#if nextfilesVisible}}
  <div class='nextfiles'>
    <img src="https://media.giphy.com/media/UMvAwWfZo8zW8/giphy.gif">
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="nextfiles.show" action="showNextfiles" icon="eye"}}
</div>